$color-primario: #760D46;
$color-primario-hover: #f3dae2;
$color-acento: #f30c55;
$color-texto-principal: #760D46;
$color-texto-secundario: #1a1a1a;

$fuente-principal: roboto, sans-serif;
$fuente-titulos: playfair display, serif;

$color-footer: #760D46;

$ancho-maximo:1200px;

$breakpoint-mobile: 768px;
$breakpoint-desktop: 1025px;
$breakpoint-tablet: 1024px;

$h1-size: 36px;
$h2-size: 28px;
$h3-size: 22px; 
$h4-size: 18px;
$h5-size: 14px; 




